<ion-view view-title="Favoritos">
  <ion-content>
    <div on-swipe-right="onSwipe('right')" on-swipe-left="onSwipe('left')" class="row newsfeed-row"
         ng-repeat="review in favorites">
      <newsfeed-item is-favorites="isFavorites" review="review"></newsfeed-item>
    </div>
    <div class="empty-list" ng-hide="favorites.length">
      <h3>
        ¡Agrega a favoritos haciendo click sobre el <i class="ion-ios-heart-outline"></i> en el Newsfeed!
      </h3>
    </div>
  </ion-content>
</ion-view>
