<ion-view view-title="Cerca a tí">
  <ion-content>
    <div class="row main-map">
      <div id="map">
      </div>
    </div>
    <div class="map-info-wrapper">
      <div class="row bottom-options-row">
        <div class="col">
          <div class="soporte-map" ng-if="filtros>0">{{filtros}} </div>
          <button class="button" ng-click="showFilters()"><span>Filtros</span><i class="ion-ios-settings-strong"></i>
          </button>
        </div>
      </div>
      <div class="row map-items-carousel-wrapper">
        <ks-swiper-container swiper="swiper" ng-if="carouselReviews.length+1" initial-slide="1" speed="2000" loop="false"
                             show-nav-buttons="false" slides-per-view="3"
                             space-between="3" pagination-clickable="true"
                             direction="horizontal" on-ready="onReadySwiper(swiper)">
          <ks-swiper-slide class="swiper-slide"
                           ng-repeat="review in carouselReviews" style="width: 5rem" ng-click="navigateToReview(review.id)" ng-if="review.estado == 'publicada'">
            <div class="silder-map-img" >
              <img ng-src="{{review.fotos[0]}}">
            </div>
            <div class="row text-center slider-bottom">
              <span  style="font-size: 0.8rem;">{{review.nombre}}</span>
            </div>
          </ks-swiper-slide>
        </ks-swiper-container>
        <div ng-if="!carouselReviews.length" class="map-items-carousel-nothing">
          Lo sentimos, no encontramos restaurantes en la zona que estás observando.
        </div>
      </div>
    </div>
</ion-view>
