<ion-view view-title="Feed" >
  <ion-nav-buttons side="right" style="display:block !important;">
    <label ng-show="searching" class="item-input-wrapper" style="background: transparent; width: 74vw;">
      <input style="color:white; background-color: #3E5260; width: 400%" type="text" placeholder="Haz click para buscar." ng-model="$parent.searchParam">
    </label>
    <button class="button button-clear" ng-init="searching=false" ng-click="searching = !searching; $parent.searchParam='';">
      <i class="icon ion-ios-search-strong" ng-hide="searching"></i> <i class="icon ion-ios-close-empty" ng-show="searching"></i>
    </button>
    <button class="button button-clear" ng-init="searching=false" ui-sref="app.favoritos">
      <i class="icon ion-ios-heart-outline" ng-hide="searching"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher on-refresh="doRefresh()"
              refreshing-text="Cargando..." refreshing-icon="ion-load-c">
    </ion-refresher>
    <div class="row filters-row">
      <ul>
        <li ng-click="selectOrder('fecha')">
          Últimos <i ng-if="selectedOrder === 'fecha'" class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
        <li ng-click="selectOrder('distanceTo')">
          Cercanía <i ng-if="selectedOrder === 'distanceTo'"
                          class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
        <li ng-click="selectOrder('calificacion')">
          Rating <i ng-if="selectedOrder === 'calificacion'"
                        class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
        <li ng-click="selectOrder('precio')">
          Precio <i ng-if="selectedOrder === 'precio'" class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
      </ul>
    </div>
    <div ng-if="banners.length>0" ng-hide="hideBanner">
      <img class="banner" src="{{banners[idBanner].foto}}">
      <a class="hide-banner" ng-click="esconderBanner()"><i class="ion-android-close"></i></a>
    </div>
    <div on-swipe-right="onSwipe('right')" on-swipe-left="onSwipe('left')" class="row newsfeed-row"
         data-ng-repeat="review in filteredResults = (reviews | bogotaEats | filter:filterByName(searchParam)| orderBy:selectedOrder:reverseOrder)">
      <newsfeed-item ng-if="review.estado == 'publicada'" review="review" order-by="orderBy" filter="seachParam"></newsfeed-item>
      <div ng-show="reviews.length == 0 || bogotaEats.length == 0" >Uy! Que pena, no encontre resutlados!<br> PSS: pueden ser tus filtros.</div>
    </div>
    <div class="col col-center text-center" ng-if="filteredResults.length == 0">¡Uy qué pena! No encontré resultados. <br> Revisa si tienes filtros activos.</div>
  </ion-content>
  <div class="row bottom-options-row">
    <div class="col">
      <button class="button white" ng-click="openMap()"><span>Mapa</span><i class="ion-earth"></i></button>
    </div>
    <div class="col">
      <div class="soporte" ng-if="filtros>0">{{filtros}} </div>
      <button class="button white" ng-click="showFilters()"><span>Filtros</span><i
        class="ion-ios-settings-strong"></i></button>
    </div>
  </div>
</ion-view>
