<ion-view view-title="Review" class="lined">
  <ion-content scroll="true" overflow-scroll="true">
    <div class="row review-hero-row" on-double-tap="toggleFavorite(review.id)">
      <div class="col">

        <!--<ion-slides  options="options" slider="data.slider">-->
          <!--<ion-slide-page ng-repeat="foto in review.fotos">-->
            <!--<img ng-src="{{foto}}">-->
          <!--</ion-slide-page>-->
        <!--</ion-slides>-->

        <ks-swiper-container initial-slide="0" speed="2000" loop="false"
                             show-nav-buttons="false" slides-per-view="1"
                             space-between="5" pagination-clickable="true" pagination-is-active="true"
                             direction="horizontal" on-ready="onReadySwiper(swiper)">
          <ks-swiper-slide class="swiper-slide-review"
                           ng-repeat="foto in review.fotos" >

            <div>
              &nbsp;
              <img ng-src="{{foto}}">
            </div>
          </ks-swiper-slide>
        </ks-swiper-container>

        <div class="review-circles">
          <!--bogota eats-->
          <div class="rating-circle">
            <div class="rating-circle-arc"></div>
            <h4>{{review.calificacion.toFixed(1) }}</h4>
            <p>BogoEats</p>
          </div>

          <!--users-->
          <div class="rating-circle">
            <div class="rating-circle-arc"></div>
            <h4 ng-if="review.calUsersTotal !== 'NaN'">{{ review.calUsersTotal }}</h4>
            <h4 ng-if="review.calUsersTotal == 'NaN'">N/A</h4>
            <p>Usuarios</p>
          </div>

          <!--money-->
          <div class="rating-circle">
            <div class="rating-circle-arc"></div>
            <h4>{{review.priceString}}</h4>
            <p>Precio</p>
          </div>

        </div>
        <!--<ion-slide-box>
        <ion-slide>
        <img ng-src="{{review.fotos[0]}}">a
        </ion-slide>
          <ion-slide>-->
            <!--<img ng-src="{{review.fotos[0]}}">-->
          <!--</ion-slide>
        </ion-slide-box>-->


        <h2>{{review.nombre}}</h2>

      </div>
    </div>
    <div class="row review-taxonomy-info">
      <div class="col">
        <span class="muledLight" >{{review.direccion}}</span><br>
        <span class="muledLight" ng-repeat="item in review.tipoComida">{{item}}{{','}}</span>
        <hr class="taxonomy-divider">
        <span class="muledLight"ng-repeat="item in review.tipoOcasion">{{item}}{{','}}</span>
        <hr class="taxonomy-divider">
        <span class="muledLight">{{review.zona}}</span>
      </div>
    </div>
    <div class="row review-relationships-info">
      <div class="col">
        <span class="muled">{{comments.length}} comentarios</span>
        <hr class="taxonomy-divider">
        <span class="muled">{{review.calUsers.length}} calificaciones</span>
      </div>
    </div>
    <div class="row review-actions muled">
      <div class="col" ng-hide="review.telefono == 0">
        <a ng-href="tel:+57031{{review.telefono}}" class="button rounded-icon bclass"><i class="ion-ios-telephone iclass"></i></a>
      </div>
      <div class="col">
        <button class="button rounded-icon" ng-click="openMap()"><i class="ion-location"></i></button>
      </div>
      <div class="col">
        <button class="button rounded-icon" ng-click="toggleFavorite(review.id)">
          <i ng-if="!isLocalFavorite(review.id)"
             class="ion-ios-heart-outline"></i>
          <i ng-if="isLocalFavorite(review.id)"
             class="ion-ios-heart"></i>
        </button>
      </div>
    </div>
    <div class="row review-content muledLight">
      {{review.comentario}}
    </div>
    <hr class="review-horizontal">
    <div ng-if="review.dishes" class="dishes-wrapper">
      <div class="row dishes-title">
        <div class="col">
          <h3>Platos o recomendaciones</h3>
        </div>
      </div>
      <div class="dish-info-container">
        <div class="row">
          <div class="col dish-info-img">
            <img ng-src="img/test1.jpg">
          </div>
        </div>
        <div class="row dish-info">
          <div class="col">
            <h5>Nombre del plato (opcional)</h5>
            <p>Succulents swag YOLO, trust fund yr you probably haven't heard of them typewriter four dollar toast art
              party chia. Air plant chillwave portland, paleo raw denim pickled gentrify tumeric messenger bag bitters
              pinterest blue bottle cardigan hoodie. Master cleanse fashion axe everyday carry PBR&B tilde 90's. Bicycle
              rights mixtape raw denim woke ramps. Authentic hella shoreditch tousled.</p>
          </div>
        </div>
      </div>
    </div>
    <hr ng-if="review.dishes" class="review-horizontal">

    <div class="comments-wrapper">
      <!--<div class="row comments-title">-->
        <!--<div class="col">-->
          <!--<div class="h3">Comentarios</div>-->
          <!--<div id="disqus_thread"></div>-->
        <!--</div>-->
      <!--</div>-->
      <h3 class="text-center" style="margin-top: 1rem;">Comentarios</h3>
      <ion-list>
        <ion-item ng-repeat="i in [1, 2, 3, 4]" class="comments-coment" >
          <strong>{{comments[$index].nombre_usuario}}</strong> &nbsp;{{comments[$index].comentario}} <br>
          <h5>{{comments[$index].fecha}}</h5>
        </ion-item>
      </ion-list>
      <a ng-click="openComments()" class="col-offset-75"> Ver Mas</a>

      <div class="item publish-grade-button2" style="margin-top: 1rem;">
        <button ng-if="isLoggedIn()" class="button button-assertive button-full" ng-click="openComments()">
          <span>Comentar</span>
        </button>
        <a ng-if="!isLoggedIn()" class="button button-assertive button-full" href="#!/sign-up" style="border-radius: 25px;">
          <span>Comentar</span>
        </a>
      </div>

      <hr class="review-horizontal" style="margin-top: 1rem;">
      <h4 ng-if="isLoggedIn()" style="text-align: center; color: #000;">Califica moviendo el cursor.</h4>
      <div ng-if="isLoggedIn()" ng-hide="calificacion" class="row grade-form filled" style="margin-top: 1rem;">
        <div class="col-50 grade-wrapper">
          <div class="row slider-wrapper">
            <div class="col-10">
              0
            </div>
            <div class="col-80" >
              <div class="review-slider noUi-extended" ya-no-ui-slider="sliderOptions"
                   ya-no-ui-slider-events="sliderEventHandlers" ng-model="userGrade">
              </div>
            </div>
            <div class="col-20">
              {{userGrade}}
            </div>
          </div>
        </div>
        <div class="col-33 publish-grade-button" >
          <button ng-click="sendUserGrade()"  class="button button-assertive" style="margin-left: 0.7rem; margin-right: 0.7rem;">
            <span>Calificar</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
