<ion-view title="Sign-In">
  <ion-header-bar class="login-bar">
	<button class="button button-clear icon ion-drag"></button>
    <h1 class="title liner"><img src="img/logo_horizontal.svg" alt=""></h1>
	<button class="button button-clear icon ion-hanger"></button>
  </ion-header-bar>
  <ion-content scroll="false" overflow-scroll="true">
    <ion-slide-box options="options" slider="data.slider">

    <!--Slide Page Login-->
    <ion-slide>
      <div class="row">
        <div class="col login-title">
          <h3 class="create-account">Iniciar Sesión</h3>
        </div>
      </div>
      <div class="row">
        <div class="col login-col">
          <input class="be-input" type="email" ng-model="loginData.username" placeholder="Email">
          <input class="be-input" type="password" ng-model="loginData.password" placeholder="Crea tu contrasena">
          <a href="#">Olvidaste tus datos ?</a>
          <a ng-click="nextSlide()" style="color: #495D73;">Crear cuenta</a>
          <a ng-click="showTerminos()"style="color: #495D73;">Al logearte aceptas los terminos y condiciones.</a>
        </div>
      </div>
      <div  class="row padding">
        <button nav-clear class="button button-block button-positive login-button" ng-click="logIn()">
          Iniciar Sesion
        </button>
      </div>
      <div class="row social-row padding">
        <div class="col">
          <p>Comenta y califica desde tu perfil de Facebook o Google</p>
          <button nav-clear class="button button-block button-positive login-button" ng-click="loginWithFacebook()" id="facebook-signup-button" nav-clear>
            <i class="ion-social-facebook"></i>
            <span>Ingresa con Facebook</span>
          </button>
          <button nav-clear class="button button-block button-positive login-button" ng-click="loginWithGoogle()" id="google-signup-button" nav-clear>
            <i class="ion-social-google-outline"></i>
            <span>Ingresa con Google</span>
          </button>
          <p>No publicaremos en tu perfil</p>
        </div>
      </div>
      <div class="row no-signup-row">
        <div class="row padding">
          <button nav-clear class="button button-block button-positive login-button" ng-click="continueWithoutRegistration()">Continuar sin sesion <i class="ion-chevron-right"></i></button>
        </div>
      </div>
    </ion-slide>

	  <!--Slide Page Rgister-->
	  <ion-slide>
        <div class="row">
          <div class="col login-title">
            <h3 class="create-account">Crear Cuenta</h3>
          </div>
        </div>
        <div class="row">
          <div class="col login-col">
            <input class="be-input" type="email" ng-model="loginData.username" placeholder="Email">
            <input class="be-input" type="password" ng-model="loginData.password" placeholder="Crea tu contrasena">
            <a href="#">Olvidaste tus datos ?</a>
            <a ng-click="prevSlide()" style="color: #495D73;">Ya tengo cuenta</a>
            <a ng-click="showTerminos()"style="color: #495D73;">Al logearte aceptas los terminos y condiciones.</a>
          </div>
        </div>
        <div  class="row padding">
          <button nav-clear class="button button-block button-positive login-button" ng-click="signUp()">
            Registrarse
          </button>
        </div>
        <div class="row social-row padding">
          <div class="col">
            <p>Comenta y califica desde tu perfil de Facebook o Google</p>
            <button nav-clear class="button button-block button-positive login-button" ng-click="loginWithFacebook()" id="facebook-signup-button" nav-clear>
              <i class="ion-social-facebook"></i>
              <span>Ingresa con Facebook</span>
            </button>
            <button nav-clear class="button button-block button-positive login-button" ng-click="loginWithGoogle()" id="google-signup-button" nav-clear>
              <i class="ion-social-google-outline"></i>
              <span>Ingresa con Google</span>
            </button>
            <p>No publicaremos en tu perfil</p>
          </div>
        </div>
        <div class="row no-signup-row">
          <div class="row padding">
            <button nav-clear class="button button-block button-positive login-button" ng-click="continueWithoutRegistration()">Continuar sin cuenta <i class="ion-chevron-right"></i></button>
          </div>
        </div>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
