<ion-view view-title="Reviews Editables">
  <ion-content>
    <div class="banner-list" ng-repeat="banner in banners">
      <img class="banner" src="{{banner.foto}}">
        <span class="banners">{{banner.nombre}}</span>
        <div class="banners">
          <span style="margin-right: 0.5rem">I: {{banner.fecha_inicio | date  : "MM/dd/yyyy" : 'UTC'}}</span>
          <span >F: {{banner.fecha_fin | date  : "MM/dd/yyyy" : 'UTC'}}</span>
        </div>
      <a class="banners-button" ng-click="deleteBanner(banner.id)">Eliminar Banner</a>
    </div>
  </ion-content>
</ion-view>
