<ion-view view-title="Administrador" class="background">
  <ion-content scroll="true" overflow-scroll="true" class="card-background-page">
    <div class="list">
      <div class="col-offset-10 col-offset-10-right button-admin">
        <button class="button" ui-sref="app.newReview" >
          <span>
            Crear Nuevo Review
          </span>
        </button>
      </div>
      <div class="col-offset-10 col-offset-10-right button-admin">
        <button class="button" ui-sref="app.editableReviews">
          <span>
            Editar Reviews Existentes
          </span>
        </button>
      </div>
      <div class="col-offset-10 col-offset-10-right button-admin">
        <button class="button" ui-sref="app.banners">
          <span>
            Banners
          </span>
        </button>
      </div>
      <div class="col-offset-10 col-offset-10-right button-admin">
        <button class="button" ui-sref="app.newBanner">
          <span>
            Nuevo Banner
          </span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
