<ion-view view-title="Reviews Editables">
  <ion-content>
    <div on-swipe-right="onSwipe('right')" on-swipe-left="onSwipe('left')" class="row newsfeed-row"
         ng-repeat="review in reviews | bogotaEats | orderBy:selectedOrder:reverseOrder">
      <newsfeededitable-item review="review" order-by="orderBy"></newsfeededitable-item>
    </div>
  </ion-content>
</ion-view>
