<ion-view view-title="Crear Review">
  <ion-content>
    <div class="list" ng-model="review">
      <div class="item item-image new-image-cont">
        <img ng-hide="foto" ng-src="img/emptyFood.png">
        <img class="new-image" ng-show="foto" ng-src="{{banner.foto}}">
        <button class="button button-photo photo-review icon ion-ios-camera-outline" ng-click="picture()"></button>
        <button class="button button-photo photo-review-select icon ion-ios-photos-outline" ng-click="selectPicture()"></button>
      </div>
      <div>
        <div class="item item-input">
          <label  class="item-block labeled backgrounded"><span class="label1">Datos Banner</span></label>
        </div>
        <div class="item item-input">
          <label class="item-block">
            <input type="text" placeholder="Nombre" ng-model="banner.nombre">
          </label>
        </div>

        <div class="item item-input">
          <label class="item-block">
            <input type="date" placeholder="Fecha Inicio" ng-model="banner.fecha_inicio">
          </label>
        </div>

        <div class="item item-input">
          <label class="item-block">
            <input type="date" placeholder="Fecha Fin" ng-model="banner.fecha_fin">
          </label>
        </div>

        <div class="item">
          <button class="button button-assertive button-full new-review-button" ng-click="agregarBanner(banner)">
            <span>Agregar</span>
          </button>
        </div>

        <div class="item">
          <button class="button button-assertive button-full new-review-button" ui-sref="app.admin">
            <span>Cancelar</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
