<ion-view view-title="Crear Review">
  <ion-content>
    <div class="list" ng-model="review">
      <div class="item item-image new-image-cont">
        <img ng-hide="foto" ng-src="img/emptyFood.png">
        <img class="new-image" ng-show="foto" ng-src="{{fotos[0]}}">
        <button class="button button-photo photo-review icon ion-ios-camera-outline" ng-click="picture()"></button>
        <button class="button button-photo photo-review-select icon ion-ios-photos-outline" ng-click="selectPicture()"></button>
      </div>
      <div style="margin: 5px;">
        <ks-swiper-container initial-slide="0" speed="2000" loop="false"
                             show-nav-buttons="false" slides-per-view="3"
                             space-between="5" pagination-clickable="true"
                             direction="horizontal" on-ready="onReadySwiper(swiper)">
          <ks-swiper-slide class="swiper-slide-review"
                           ng-repeat="foto in fotos">

            <div style="height: 6rem;">
              &nbsp;
              <img ng-src="{{foto}}" style="height: 7rem;" on-double-tap="placeFirst($index)">
              <button class="icon ion-ios-close-outline new-thumb" ng-click="eliminarFoto($index)"></button>
            </div>
          </ks-swiper-slide>
        </ks-swiper-container>
      </div>
      <div>

      <div class="item item-input">
        <label  class="item-block labeled backgrounded"><span class="label1">Datos Restauranter</span></label>
      </div>
      <div class="item item-input">
          <label class="item-block">
          <input type="text" placeholder="Nombre Restaurante" ng-model="review.nombre">
        </label>
      </div>

        <!--<div class="item item-input">-->
          <!--<label  class="item-block labeled backgrounded"><span class="label1">Dirección Especifica</span></label>-->
        <!--</div>-->

        <div class="item item-input">
          <label class="item-block">
            <input type="text" placeholder="Agregue dirección específica" ng-model="review.direccion">
          </label>
        </div>

        <!--<div class="item item-input">-->
          <!--<label  class="item-block labeled backgrounded"><span class="label1">Teléfono</span></label>-->
        <!--</div>-->

        <div class="item item-input">
          <label class="item-block">
            <input type="text" placeholder="Agregue teléfono" ng-model="review.telefono">
          </label>
        </div>

        <div class="item item-input">
          <label  class="item-block labeled backgrounded"><span class="label1">Reseña</span></label>
        </div>
        <div class="item item-input">
          <textarea class="item-blocked" placeholder="Reseña" rows="4" ng-model="review.comentario"></textarea>
        </div>
        <div class="item item-input">
          <div class="col-75">
            <input style="width: 75%; height: 100%; position: relative; top: 10px;" type="range" name="calificacion" min="1" max="10" ng-model="review.calificacion" step="0.1" value="1" list="powers">
            <datalist id="powers">
              <option value="0">
              <option value="+0">
            </datalist>
            <label class="item-block labeled" style="width:20% !important; height: 47px !important; padding: 12px;">{{review.calificacion}}</label>
          </div>
          <div class="col-25">
            <button class="button button-block roundeded white" style="font-size: 14px"  ng-model="review.precio" id="sample" ng-click="change()">{{review.precio}}</button>
          </div>
        </div>
        <div ng-hide="true">
          <div class="item item-input">
            <label class="item-block">
              <input type="number" id="lat" placeholder="Longitud" ng-model="review.geoloc.lat">
            </label>
          </div>

          <div class="item item-input">
            <label class="item-block">
              <input type="number" id="lng" placeholder="Latitud" ng-model="review.geoloc.lng">
            </label>
          </div>
        </div>
        <div class="item" style="margin-left: -10px; margin-right: -10px;">
          <button class="button button-assertive" style="width: 45%; border-radius: 25px;" ng-click="openMap()"><span>Ubicar</span><i class="ion-earth col-offset-10"></i></button>
          <button class="button button-assertive" style="width: 45%; border-radius: 25px;" ng-click="showFilters()"><span>Categorias</span> <i class="ion-android-options col-offset-10"></i></button>
        </div>

        <div class="item" ng-hide="updating">
          <button class="button button-assertive button-full new-review-button" ng-click="saveReview(review)">
            <span>Guardar</span>
          </button>
        </div>
        <div class="item" ng-hide="updating">
          <button class="button button-assertive button-full new-review-button" ng-click="publicarReview(review)">
            <span>Publicar</span>
          </button>
        </div>
      <div class="item" ng-show="updating">
        <button class="button button-assertive button-full new-review-button" ng-click="updateReview(review)">
          <span>Actualizar</span>
        </button>
      </div>
      <div class="item">
        <button class="button button-assertive button-full new-review-button" ui-sref="app.admin">
          <span>Cancelar</span>
        </button>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
