<div class="col newsfeed-item-container">
  <a ng-href="#!/app/reviews/{{review.id}}"></a>
  <img ng-src="{{review.fotos[0]}}">
  <div class="row newsfeed-item-top-row">
    <div class="col col-20 newsfeed-item-carousel-indicator">
      <!--<i ng-repeat="images in review.images.value" class="ion-ios-circle-filled"></i>-->
    </div>
    <div class="col col-60 newsfeed-item-title-container ">
      <h2 class="minimized">{{review.nombre}}</h2>
      <h4><i ng-if="distanceTo" class="ion-location"></i>{{distanceTo}} Km</h4>
    </div>
    <div ng-if="isLoggedIn()" class="col col-20 newsfeed-item-heart">
      <i ng-if="!isLocalFavorite(review.id)" ng-click="toggleFavorite(review.id)"
         class="ion-ios-heart-outline heart-icon"></i>
      <i ng-if="isLocalFavorite(review.id)" ng-click="toggleFavorite(review.id)"
         class="ion-ios-heart heart-icon"></i>
    </div>
  </div>
  <div class="row newsfeed-item-bottom-row">
    <!--bogota eats-->


    <div class="price-rating rating-circle" ng-class="{calbe1: review.calificacion <= 1, calbe2: review.calificacion <= 2}">
      <div class="rating-circle-arc"></div>
      <h4>{{review.calificacion.toFixed(1) }}</h4>
      <p>BogoEats</p>
    </div>

    <!--users-->
    <div class="price-rating rating-circle">
      <div class="rating-circle-arc"></div>
      <h4 ng-if="calUsersTotal !== 'NaN'">{{ calUsersTotal }}</h4>
      <h4 ng-if="calUsersTotal == 'NaN'">N/A</h4>
      <p>Usuarios</p>
    </div>

    <!--money-->
    <div class=" price-rating rating-circle " ng-class="{price1 : review.precio == 1, price2: review.precio ==2, price3: review.precio == 3, price4 : review.precio == 4}">
      <div class="rating-circle-arc"></div>
      <h4>{{priceString}}</h4>
      <p>Precio</p>
    </div>
  </div>

</div>
