<div class="col newsfeed-item-container">
  <a ui-sref="app.newReview({idReview:review.id})"></a>
  <img ng-src="{{review.fotos[0]}}">
  <div class="row newsfeed-item-top-row">
    <div class="col col-20 newsfeed-item-carousel-indicator">
      <!--<i ng-repeat="images in review.images.value" class="ion-ios-circle-filled"></i>-->

    </div>
    <div class="col col-60 newsfeed-item-title-container">
      <h2>{{review.nombre}}</h2>
      <h4><i ng-if="distanceTo" class="ion-location"></i>{{distanceTo}}</h4>
    </div>
    <div class="col col-20 ">
      <button class="button button-clear button-dark icon ion-edit" ng-click="$parent.showButtons(review)" style="background-color: rgba(255, 255, 255, 0.5); border-radius: 50%"></button>
    </div>
  </div>
  <div class="row newsfeed-item-bottom-row">
    <!--bogota eats-->
    <div class="rating-circle">
      <div class="rating-circle-arc"></div>
      <h4>{{review.calificacion.toFixed(1) }}</h4>
      <p>B.E.</p>
    </div>

    <!--users-->
    <div class="rating-circle">
      <div class="rating-circle-arc"></div>
      <h4>{{ calUsersTotal }}</h4>
      <p>Usuarios</p>
    </div>

    <!--money-->
    <div class="rating-circle">
      <div class="rating-circle-arc"></div>
      <h4>{{priceString}}</h4>
      <p>Precio</p>
    </div>

  </div>
</div>
