<div class="filters-popup-body">
  <ion-list>
    <div ng-repeat="(categoryName, categoryData) in filters">
      <ion-item class="item-stable"
                ng-click="toggleGroup(categoryName)"
                ng-class="{active: isGroupShown(categoryName)}">
        {{categoryData.name}}<div class="item-icon-right ">
        <i class="icon ion-chevron-down menuicon" id="like" ng-class="{'icon ion-chevron-down menuicon': !(isGroupShown(categoryName))  , 'icon ion-chevron-up menuicon': isGroupShown(categoryName)}" ng-click="liked=!liked"></i>
      </div>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(categoryName)">

        <div class="row" ng-repeat="filterValue in categoryData.values" ng-if="$index % 3 === 0 && categoryName !== 'zona'">
          <div ng-repeat="i in [0,1,2]"  class="col filter-grid-item centered"  ng-init="n=$parent.$index">
            <div class="centered" ng-if="categoryData.values[$parent.$index + i].img">
            <div class="righted"><input class="with-label item-checkbox-right"
                   type="checkbox"
                   name="selected{{categoryName}}[]"
                   value="{{categoryData.values[n + i].nombre}}"
                   ng-model="categoryData.values[n + i].selected"
                   id="filter-select-{{categoryName}}-{{n + i}}" ng-click="markSelected(categoryData.values[n + i].nombre, categoryName)"></div>
            <label for="filter-select-{{categoryName}}-{{n + i}}" class="filters-label">
              <img src="{{categoryData.values[n + i].img}}"  style="height: 3rem;
                   width: 3rem; border-color: #ffffff " ng-hide="categoryData.values[n + i].selected">
              <img src="{{categoryData.values[n + i].imgSel}}" ng-show="categoryData.values[n + i].selected" style="height: 3rem;
                   width: 3rem; border-color: #ffffff; background-color: orange; border-radius: 25px;">
            </label></div>
            <p class="category-name">{{categoryData.values[$parent.$index + i].nombre}}</p>
          </div>
        </div>
        <div class="location-item" ng-if="categoryName === 'zona'" ng-repeat="categoryValues in categoryData.values">
          <label>

            {{categoryValues.name}}<input type="checkbox" ng-model="categoryValues.checked"></label>
          </label>
        </div>
      </ion-item>
    </div>
  </ion-list>
</div>
<div class="filters-popup-button">
  <button nav-clear class="button button-block button-positive login-button" ng-click="clearFilters()">
    Borrar Filtros
  </button>
</div>
<div class="filters-popup-button">
  <button nav-clear class="button button-block button-positive login-button" ng-click="hideFilters()">
    Cerrar
  </button>
</div>
<div class="close-pop-up">
  <button nav-clear class="" ng-click="hideFilters()">
    <i class="ion-android-close"></i>
  </button>
</div>
