<div class="login-popup-body">
  <ion-list>
    <div ng-repeat="(categoryName, categoryData) in filters">
      <ion-item class="item-stable"
                ng-click="toggleGroup(categoryName)"
                ng-class="{active: isGroupShown(categoryName)}">
        {{categoryData.name}}
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(categoryName)">
        <div class="row" ng-repeat="filterValue in categoryData.values" ng-if="$index % 3 === 0 && categoryName !== 'zona'">
          <div ng-repeat="i in [0,1,2]" class="col filter-grid-item">
            <input class="with-label"
                   type="checkbox"
                   name="selected{{categoryName}}[]"
                   value="{{categoryData.values[$parent.$index + i].nombre}}"
                   ng-model="categoryData.values[$parent.$index + i].selected"
                   id="filter-select-{{categoryName}}-{{$parent.$index + i}}">
            <label for="filter-select-{{categoryName}}-{{$parent.$index + i}}" class="filters-label">
              <img src="{{categoryData.values[$parent.$index + i].img}}" style="height: 3rem;
                   width: 3rem; ">
            </label>
            <p class="category-name">{{categoryData.values[$parent.$index + i].nombre}}</p>
          </div>
        </div>
        <div class="location-item" ng-if="categoryName === 'zona'" ng-repeat="categoryValues in categoryData.values">
          <label>
            <input type="checkbox" ng-model="categoryValues.checked">
            <p>{{categoryValues.name}}</p>
          </label>
        </div>
      </ion-item>
    </div>
  </ion-list>
</div>
<div class="filters-popup-button">
  <button nav-clear class="button button-block button-positive login-button" ng-click="hideFilters()">
    Cerrar
  </button>
</div>

