<div class="filters-popup-body">
  <ion-list>
    <ion-item>
      <button nav-clear class="button button-block button-positive login-button" ng-click="editarReview()">
        Editar Review
      </button>
    </ion-item>
    <ion-item>
      <button nav-clear ng-if="reviewAEditar.estado == 'oculta' || reviewAEditar.estado == 'guardada'" class="button button-block button-positive login-button" ng-click="publicarReview()">
        Publicar Review
      </button>
    </ion-item>
    <ion-item>
      <button nav-clear ng-if="reviewAEditar.estado == 'publicada'" class="button button-block button-positive login-button" ng-click="OcultarReview()">
        Ocultar Review
      </button>
    </ion-item>
  </ion-list>
</div>
<div class="filters-popup-button">
  <button nav-clear class="button button-block button-positive login-button" ng-click="hideButtons()">
    Cerrar
  </button>
</div>

