<div>
  <p ng-bind-html="termino.texto" style="margin: 1em;text-align: justify;"></p>
</div>
<div class="close-pop-up">
  <button nav-clear class="" ng-click="hideTerminos()">
    <i class="ion-android-close"></i>
  </button>
</div>
