<ion-modal-view>
  <ion-header-bar>
    <button ng-click="closeComments()" class="button button-icon icon ion-chevron-left" style="color:white; font-size:1rem; font-family: Muli-Bold">Cerrar</button>
    <h1 class="title" style="color:white; font-family: Muli-Bold; font-size:1rem;">{{review.nombre}}</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list class="noscroll">
      <ion-item ng-repeat="comment in comments" style="text-align: justify; font-size: 0.7rem; font-family: Muli;">
        <strong>{{comment.nombre_usuario}}</strong> {{comment.comentario}} <br>
        {{comment.fecha}}
      </ion-item>
    </ion-list>
    <div ng-show="comments.length == 0">
      <strong>Se el primero en comentar (Debes estar logeado)</strong>
    </div>
    <ion-footer-bar ng-if="isLoggedIn()">
      <input ng-model="com.comentario" maxlength="120"  placeholder="Comentario" class="col-90 text-left">
      <button class="button button-clear  icon ion-android-send button-dark col-center" ng-click="newComment(com.comentario)"></button>
    </ion-footer-bar>
  </ion-content>
</ion-modal-view>
