<ion-modal-view>
  <ion-header-bar>
    <button ng-click="closeMap()" class="button button-icon icon ion-ios-arrow-back" style="left:-10px; color:white; font-size:1rem; font-family: Muli-Bold">Cerrar</button>
    <h1 class="title" style="color:white; font-family: Muli-Bold; font-size:1rem;">{{review.nombre}}</h1>
  </ion-header-bar>
  <ion-content>
    <div id="map"></div>
  </ion-content>
</ion-modal-view>
